*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration:none;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/login.jpg);
    background-position: center;
    background-size: cover;
}
form{
    background: rgba(247, 231, 161, 0);
    width: 350px;
    height: 580px;
    padding-left: 50px;
    padding-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)

}
h1{
    text-align: center;
    margin-bottom: 45px;
    color: whitesmoke;
    font-size: 40px;
    transform: translate(-9%,-0%)
}
div.textBox1{
    border-bottom: 2px solid white;
    position: relative;
    margin: 35px 0px;
    transform: translate(-9%,-0%)
}
div.textBox1 input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    height: 30px;
    font-size: 20px;
}
div.textBox2{
    border-bottom: 2px solid white;
    position: relative;
    margin: 35px 0;
    transform: translate(-9%,-0%)
}
div.textBox2 input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    height: 30px;
    font-size: 20px;
}
input.loginBtn{
    height: 45px;
    width: 100%;
    transform: translate(-9%,-0%);
    border: none;
    outline: none;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
input.loginBtn:hover{
    background-position: right;
    font-size: 18px;
}
div.signup{
    color: white;
    margin-top: 45px;
    text-align: center;
    transform: translate(-9%,-0%);
}
div.signup a{
    color:rgb(132, 255, 239);
}